### **Import Libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

###**Read Data**

In [15]:
data = pd.read_csv("breast-cancer-data.csv")

### **EDA**

In [16]:
data.shape

(699, 11)

In [17]:
data.columns

Index(['id', 'clump_thickness', 'size_uniformity', 'shape_uniformity',
       'marginal_adhesion', 'epithelial_size', 'bare_nucleoli',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class'],
      dtype='object')

In [18]:
data.head()

        id  clump_thickness  size_uniformity  ...  normal_nucleoli  mitoses  class
0  1000025                5                1  ...                1        1      2
1  1002945                5                4  ...                2        1      2
2  1015425                3                1  ...                1        1      2
3  1016277                6                8  ...                7        1      2
4  1017023                4                1  ...                1        1      2

[5 rows x 11 columns]

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 683 non-null    int64
 1   clump_thickness    683 non-null    int64
 2   size_uniformity    683 non-null    int64
 3   shape_uniformity   683 non-null    int64
 4   marginal_adhesion  683 non-null    int64
 5   epithelial_size    683 non-null    int64
 6   bare_nucleoli      683 non-null    int64
 7   bland_chromatin    683 non-null    int64
 8   normal_nucleoli    683 non-null    int64
 9   mitoses            683 non-null    int64
 10  class              683 non-null    int64
dtypes: int64(11)
memory usage: 64.0 KB

In [23]:
data = data[pd.to_numeric(data['bare_nucleoli'], errors = 'coerce').notnull()]

In [25]:
data['bare_nucleoli'] = data['bare_nucleoli'].astype(int)

In [27]:
data.describe()

                 id  clump_thickness  ...     mitoses       class
count  6.830000e+02       683.000000  ...  683.000000  683.000000
mean   1.076720e+06         4.442167  ...    1.603221    2.699854
std    6.206440e+05         2.820761  ...    1.732674    0.954592
min    6.337500e+04         1.000000  ...    1.000000    2.000000
25%    8.776170e+05         2.000000  ...    1.000000    2.000000
50%    1.171795e+06         4.000000  ...    1.000000    2.000000
75%    1.238705e+06         6.000000  ...    1.000000    4.000000
max    1.345435e+07        10.000000  ...   10.000000    4.000000

[8 rows x 11 columns]

###**Preprocessing**

In [30]:
X = data[['clump_thickness', 'size_uniformity', 'shape_uniformity','marginal_adhesion', 'epithelial_size', 'bare_nucleoli','bland_chromatin', 'normal_nucleoli', 'mitoses']].values
y = data.iloc[:, -1].values

In [31]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
scaled_X = std_scaler.fit_transform(X)

###**Model Building**

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [34]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, test_size=0.2, random_state = 2, stratify = y)

In [36]:
model = SVC(kernel='linear', gamma='auto', C=0.3)
model.fit(X_train, y_train)

SVC(C=0.3, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

###**Prediction and Evaluation**

In [37]:
prediction = model.predict(X_test)

In [38]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           2       0.98      0.98      0.98        89
           4       0.96      0.96      0.96        48

    accuracy                           0.97       137
   macro avg       0.97      0.97      0.97       137
weighted avg       0.97      0.97      0.97       137

In [39]:
model.score(X_test, y_test)

0.9708029197080292

In [40]:
confusion_matrix(y_test,prediction)

array([[87,  2],
       [ 2, 46]])